<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="post" align="right">
    <button type="submit" value="logout">Log Out</button>
</form>

<h1 align="center">Welcome <span th:text="${user}">user</span></h1>

<div id="personTable"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    updateField();

    function updateField() {
        for (var i = 0; i < 100; i++) {
            updater(i);
        }
    }

    function updater(i) {
        setTimeout(function () {
            f(i);
        }, i * 2000);
    }

    function f(i) {
        $.ajax({
            type: "GET",
            url: "stockPoll",
            success: function (data) {
                var tablePlace = document.getElementById("personTable");
                var htmlCode = "<table border=\"1\" align=\"center\">" +
                    "<tr>" +
                    "   <td>Symbol</td>" +
                    "   <td>Price Type</td>" +
                    "   <td>Initial Price</td>" +
                    "   <td>Current Price</td>" +
                    "   <td>Current Variance</td>" +
                    "   <td>Target Variance</td>" +
                    "   <td>Alarm Name</td>" +
                    "   <td>Active</td>" +
                    "</tr>";
                $.each(data, function (j, item) {
                    htmlCode += "<tr>" +
                        "   <td>" + item.symbol + "</td>" +
                        "   <td>" + item.alarm.priceType + "</td>" +
                        "   <td>" + item.initialPrice + "</td>" +
                        "   <td>" + item.currentPrice + "</td>" +
                        "   <td>" + item.currentVariance + "</td>" +
                        "   <td>" + item.targetVariance + "</td>" +
                        "   <td>" + item.alarmName + "</td>" +
                        "   <td>" + item.active + "</td>" +
                        "</tr>";
                });
                htmlCode += "</table>";
                tablePlace.innerHTML = htmlCode;
            }
        });
    }
    /*]]>*/
</script>
<br /><br />
<form action="/monitorNewStock" th:object="${alarm}" method="post" align="center">
    <select th:field="*{symbol}">
        <option th:each="i : ${codes}" th:text="${i}" th:value="${i}">
        </option>
    </select>
    <select th:field="*{priceType}">
        <option th:each="i : ${priceTypes}" th:text="${i}" th:value="${i}">
        </option>
    </select>
    <button type="submit">Add stock to monitor</button>
</form>

<br/>
<br/>

<h2 align="center">Your alarms:</h2>
<table border="1" align="center">
    <tr>
        <th align="center">Name</th>
        <th align="center">Created</th>
        <th align="center">Symbol</th>
        <th align="center">Reference price</th>
        <th align="center">Target %</th>
        <th align="center">Price type</th>
        <th align="center">Edit</th>
        <th align="center">Remove</th>
    </tr>
    <tr th:each="alarm : ${alarms}">
        <td th:text="${alarm.name}">name</td>
        <td th:text="${alarm.creationTime}">20</td>
        <td th:text="${alarm.symbol}">NBCS</td>
        <td th:text="${alarm.referencePrice}">NBCS</td>
        <td th:text="${alarm.targetPercentage}">15</td>
        <td th:text="${alarm.priceType}">15</td>
        <td>
            <form method="POST" th:action="@{edit/{id}(id=${alarm.id})}">
                <button type="submit" name="submit" value="value" class="link-button">Edit</button>
            </form>
        </td>
        <td><a th:href="@{delete/{id}(id=${alarm.id})}">Delete</a></td>
    </tr>
</table>

<br /><br />
<form th:action="@{/createAlarm}" method="post" align="center">
    <button type="submit">Create new Alarm</button>
</form>

<p align="center">&copy; 2018 budai_kinga@yahoo.com<p>


</body>
</html>