<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Index page</title>
    <style>
    h1 {color:#D0CDD7}
    body {background-color:#416165}
    label,p {color:#D9DBF1}
        <!--   D9DBF1,D0CDD7, ACB0BD,   416165,0B3948     -->
    </style>
</head>
<body>
<form th:action="@{/logout}" method="post" align="right">
    <button type="submit" value="logout">Log Out</button>
</form>
<h1 align="center">Edit your alarm</h1>
<table align="center"><tr><td>
<form action="#" th:action="@{/edit}" th:object="${alarm}" method="post">
    <div>
        <label>Alarm name</label>
        <input th:field="*{name}"/>
    </div>
    <br/>
    <div>
        <input th:field="*{id}" th:value="*{id}" readonly hidden/>
    </div>
    <div>
        <input th:field="*{creationTime}" th:value="*{creationTime}" readonly hidden/>
    </div>
    <div>
        <label>Reference price</label>
        <input th:field="*{referencePrice}" th:value="*{referencePrice}" readonly/>
    </div>
    <br/>
    <div>
        <label>Symbol</label>
        <select th:field="*{symbol}">
            <option th:each="i : ${codes}" th:text="${i}" th:value="${i}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <label>Target percentage:</label>
        <input th:field="*{targetPercentage}"/>
    </div>
    <br/>
    <div>
        <label>Price type</label>
        <select th:field="*{priceType}">
            <option th:each="i : ${priceTypes}" th:text="${i}" th:value="${i}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <input th:field="*{active}" th:value="*{active}" readonly hidden/>
    </div>
    <button type="submit" th:text="Save">Save</button>
    <form th:action="@{/cancel}" method="post" align="right">
        <button type="submit">Cancel</button>
    </form>
</form>
</td></tr></table>
<p align="center">&copy; 2018 budai_kinga@yahoo.com<p>


</body>
</html>