<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    h1 {color:#D0CDD7}
    body {background-color:#416165}
    label {color:#D9DBF1}
        <!--   D9DBF1,D0CDD7, ACB0BD,   416165,0B3948     -->
    </style>
    <meta charset="ISO-8859-1">
    <title>Login Page</title>
</head>
<body>
<h1>Login Form</h1>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" value="kbudai" name="username" autofocus="autofocus"/>
    <label for="username">Password</label>
    <input type="password" id="password" value="123" name="password"/>
    <br/>
    <button type="submit" value="login"> Log In</button>
</form>
<form th:action="@{/register}" method="post">
    <button type="submit" value="register"> Register</button>
</form>
</body>
</html>