<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1 th:text="Register">form</h1>
<form action="/registerUser" th:object="${user}" method="POST" enctype="utf8">

    <table>
        <tr>
            <td>First</td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Last</td>
            <td>
                <input type="text" th:field="*{lastName}"/>
            </td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>
                <input type="email" th:field="*{email}"/>
            </td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" th:field="*{userName}"/>
            </td>
            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">UserName Error</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" th:field="*{password}"/>
            </td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="password" th:field="*{confirmPassword}"/>
            </td>
            <td th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
                th:text="${error}">Validation error</p></td>
        </tr>
    </table>
    <button type="submit" th:text="Register">submit</button>
</form>

</body>
</html>